@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}

* {
    font-family: 'Noto Sans KR', 'Malgun Gothic';
    margin: 0;
    padding: 0;
}

.body{
    height: 1000px;
}
.div{
    overflow: auto;
}

/* 회원가입, 로그인 */
.user{
    width: fit-content;
    margin-top: 10px;
    margin-left: 78%;
    background-color: #f8f8f8;
}

.user a{
    text-decoration: none;
    color: #212121;
    margin: 15px;
}


/* 상단부 */
header {
    font-family: 'HealthsetGothicLight', 'NotoSansKR';
    height: 100px;
    background-color: white;
    color: black;
    padding: 10px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 로고 */
.logo img {
    height: 60px;
    width: 300px;
    margin-left: 55%;

}

/* 검색창 */
/* Styles for wrapping the search box */

.main {
    width: 20%;
    margin: 50px auto;
    margin-left: 20%;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 13%;
}


input.form-control {
    width: 100%;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.has-search .form-control-feedback a {
    width: 1.5rem;
    height: 1.5rem;
    color: rgba(123, 43, 12, 0.863);
    
}



/* 채팅, 나의 채널, 장바구니, 마이페이지 */
.user-actions {
    position: flex;
    margin-right: 12%;


}

.user-actions a {
    font-size: 17px;
    color: rgb(46, 45, 45);
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}



.user-actions svg{
    width: 30px;
    height: 30px;
}

#mychannel{
    width: 27px;
    height: 27px;
}



/* 피드 영역 */
.main_feed {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.left_feed {

    margin-right: 100px;
    width: 500px;
    height: 2000px;
    display: flex;
    flex-direction: column;
}

.feed_box {
    background-color: white;
    width: 480px;
    margin: 10px;
    min-height: auto;
}

/* 작가이름 */
.feed_name {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.feed_name_txt{
    position: absolute;
    top:21%;
    left: 37%;
    margin-left: 5px;
}

.feed_name_txt span {
    font-size: 16x;
    padding: 0px 10px;
    color: #212529;
    font-weight: bold;
}

.profile_box {
    width: 50px;
    height: 50px;
    border-radius: 70%;
    overflow: hidden;
}

.profile_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button{
    position: absolute;
    right: 40%;
}

/* 점 3개 버튼 */
.dropdown {
    position: absolute;
    top: 23%;
    left: 82%;
    margin-left: 5px;


}
  
  .vertical-ellipsis {
    background-color: #f1f1f1;
    border: none;
    color: #000;
    font-size: 18px;
    cursor: pointer;
    padding: 5px 10px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .show {
    display: block;
  }
  
/* 피드 동영상 */
video {
    display: block;
    object-fit: fill;
    width: 480px;
    height: 700px;
    margin-bottom: 20px;
}



/* 좋아요, 댓글 아이콘 */
.feed_icon{
    display: flex;
    margin-bottom: 20px;
}

.feed_icon div{
    width: 30px;
    height: 30px;
    margin-right: 20px;
   
}


/* 좋아요 수 */
.like_count{
    font-size: 15px;
}


.feed_reply div{
    display: flex;
}

/* 댓글 단 회원의 프로필 */
.feed_reply img{
    width: 30px;
    height: 30px;
    border-radius: 70%;
    margin-right: 5px;
}

.feed_reply b{
    margin-right: 10px;
}




